{% block situationForm_widget %}
        <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.situation) }}
                </div>
            {% if form.tool is defined %}
                <div class="col-md-3">
                    {{ form_row(form.tool) }}
                </div>
            {% else %}
                <div class="col-md-3">
                    
                </div>
            {% endif %}
            {% if form.risk is defined %}
                <div class="col-md-3">
                    {{ form_row(form.risk) }}
                </div>
            {% else %}
                <div class="col-md-3">
                    
                </div>
            {% endif %}
            {% if form.measure is defined %}
                <div class="col-md-3">
                    {{ form_row(form.measure) }}
                </div>
            {% else %}
                <div class="col-md-3">
                    
                </div>
            {% endif %}
        </div>
{% endblock %}